
.users-container {
  padding: 20px;
  background-color: #f9f9f9; 
}

h2 {
  color: indigo; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px; 
}

.event {
  display: flex;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
}

.event-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%; 
  background-color: indigo; 
  color: white; 
  padding: 10px; 
  font-family: 'Lucida Sans Unicode', sans-serif;
}

.event-date h3 {
  margin: 0;
  background-color: #8A2BE2;
  border-radius: 50%;
  font-family: 'Times New Roman', Times, serif;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  line-height: 1.2;
  border: 2px solid #8A2BE2; 
}

.event-date h3:hover {
  background-color: #5F1DBA;
}

.event-details {
  width: 75%; 
  padding: 20px;
  background-color: lavender; 
  font-family: cursive;
  transition: background-color 0.3s ease;
  color: black;
}

.event-details:hover {
  background-color: #D8BFD8; 
}

.event-details h3 {
  margin: 0 0 10px 0; 
  color: indigo;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.event-details p {
  margin: 5px 0 0;
  color: #666;
  font-family: 'Lucida Sans Unicode', sans-serif;
}