
.home-page {
  
  background-size: cover;
  height: 100vh;
  width:100%; 
  font-family: 'Arial', sans-serif; 
  overflow: hidden; 
}

.overlay {
  height: 100vh;
  width:100%;
  font-family: 'Arial', sans-serif; 
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)); /* Gradient overlay for depth */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 40px; 
}
.jubble-text {
  font-weight:800;
  font-size: 5.5rem;
  color:rgb(199, 143, 22);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-family:Georgia, 'Times New Roman', Times, serif;
  
  display: inline-block; 
  transition: transform 0.5s ease; 
}

.jubble-text:hover {
  animation: jubble 0.6s ease forwards;
  color: #FFA500;
 
}

@keyframes jubble {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(5px); 
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.login-button{
  display:flex;
  align-content:center;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.login-image {
  padding: 12px;
  width: 8vh;
  height: 8vh;
  background-image: url('./login-icon.png');
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 50%; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
}

.login-image:hover {
  transform: scale(1.1);
}

.login-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: blueviolet;
  color: #fefefe;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.login-btn:hover {
  background-color: #8A2BE2;
  transform: scale(1.05); 
}

.heading {
  font-size: 3.5rem;
  font-family:initial;
  margin: 20px 0;
  font-weight: 800;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  animation: fade-in 1s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.college-name {
  position: absolute;
  top: 20px; 
  left: 20px; 
  font-size: 1.8rem; 
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}

@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }

  .marquee {
    font-size: 2rem;
  }

  .login-btn {
    padding: 10px 20px;
  }
}
