
.App {
  text-align: center;
  /* background-image: url('./components/$REYNF97.jpeg'); */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  height: 100vh;
  width:100%; /* Full height */
  


}
